Clases/10clase2609_xml/casasrurales.dtd

<!ELEMENT casas_rurales (casa+)>
<!ELEMENT casa (direccion, descripcion?, estado, (tamanio | hectareas), disponible)>
<!ATTLIST casa id ID #REQUIRED>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT estado (#PCDATA)>
<!ELEMENT tamanio (#PCDATA)>
<!ELEMENT disponible (#PCDATA)>
<!ELEMENT hectareas (#PCDATA)> <!-- Se puede utilizar EMPTY (sin paréntesis) para declarar un datos vacío -->