Clases/10clase2609_xml/factura.dtd

<!-- Ejercicio 3: Factura (DTD externo)

Crea un XML de factura con un DTD externo factura.dtd.

Requisitos:

Raíz: <factura>

Estructura: factura(cabecera, lineas, totales)

<cabecera>: contiene <cliente>, <nif>, <fecha>

<lineas>: contiene una o más <linea> con <producto>, 
<cantidad>, <precioUnitario>

<totales>: contiene <subtotal>, <iva>, <total>

Atributos: cantidad y precioUnitario 
deben ser de tipo CDATA

Define en el DTD una entidad general para el 
porcentaje de IVA (por ejemplo 21) y úsala en el XML; -->

<!ELEMENT factura (cabecera, lineas, totales)>
<!ELEMENT cabecera (cliente, nif, fecha)>
<!ELEMENT cliente (#PCDATA)>
<!ELEMENT nif (#PCDATA)>
<!ELEMENT fecha (#PCDATA)>
<!ELEMENT lineas (linea+)>
<!ELEMENT linea (producto, cantidad, precioUnitario)>
<!ELEMENT producto (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>
<!ELEMENT precioUnitario (#PCDATA)>
<!ELEMENT totales (subtotal, iva, total)>
<!ELEMENT subtotal (#PCDATA)>
<!ELEMENT iva (#PCDATA)>
<!ELEMENT total (#PCDATA)>
