Clases/Proyecto2/ejercicio2/ejercicio2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="plataforma">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cursos"/>
                <xs:element ref="alumnos"/>
                <xs:element ref="matriculas"/>
                <xs:element ref="evaluaciones"/>
            </xs:sequence>
        <xs:attribute name="fecha_publicacion" use="required"/>
        </xs:complexType>
    </xs:element>

    <!-- CURSOS -->

    <xs:element name="cursos">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="curso"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="curso">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="titulo"/>
                <xs:element ref="nivel"/>
                <xs:element ref="modalidad"/>
                <xs:element ref="horas"/>
                <xs:element minOccurs="0" ref="modulos"/>
            </xs:sequence>

            <xs:attribute name="id" use="required" type="xs:ID"/>
            <xs:attribute name="codigo"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="titulo" type="xs:string"/>
    <xs:element name="nivel" type="xs:string"/>
    <xs:element name="modalidad" type="xs:string"/>
    <xs:element name="horas" type="xs:string"/>

    <xs:element name="modulos">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="modulo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="modulo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nombre"/>
                <xs:element ref="horas"/>
            </xs:sequence>
            <xs:attribute name="clave"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nombre" type="xs:string"/>

    <!-- ALUMNOS -->

    <xs:element name="alumnos">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="alumno"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="alumno">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="nombre"/>
                <xs:element ref="email"/>
                <xs:element minOccurs="0" ref="telefono"/>
            </xs:sequence>

            <xs:attribute name="id" use="required" type="xs:ID"/>
            <xs:attribute name="nif"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="email" type="xs:string"/>
    <xs:element name="telefono" type="xs:string"/>

    <!-- MATRICULAS -->

    <xs:element name="matriculas">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="matricula"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="matricula">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="fecha_alta"/>
                <xs:element ref="estado"/>
            </xs:sequence>

            <xs:attribute name="id" use="required" type="xs:ID"/>
            <xs:attribute name="alumnoRef" use="required" type="xs:IDREF"/>
            <xs:attribute name="cursoRef" use="required" type="xs:IDREF"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="fecha_alta" type="xs:string"/>
    <xs:element name="estado" type="xs:string"/>

    <!-- EVALUACIONES -->

    <xs:element name="evaluaciones">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="evaluacion"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="evaluacion">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="instrumento"/>
                <xs:element ref="convocatoria"/>
                <xs:element ref="nota"/>
            </xs:sequence>

            <xs:attribute name="id" use="required" type="xs:ID"/>
            <xs:attribute name="matriculaRef" use="required" type="xs:IDREF"/>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="instrumento" type="xs:string"/>
    <xs:element name="convocatoria" type="xs:string"/>
    <xs:element name="nota" type="xs:string"/>
</xs:schema>