Proyecto2Trabajando_XML_DTDyXSD/ejercicio1/ejercicio1.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="catalogo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libros">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="libro" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="titulo"/>
                                        <xs:element type="xs:integer" name="anio"/>

                                        <xs:element name="autores">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="autor">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" name="nombre"/>
                                                                <xs:element type="xs:string" name="orcid" minOccurs="0"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="etiquetas" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="etiqueta" maxOccurs="unbounded" minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>

                                    <xs:attribute type="xs:string" name="id" use="optional"/>
                                    <xs:attribute type="xs:string" name="categoria" use="optional"/>
                                    <xs:attribute type="xs:integer" name="isbn" use="optional"/>
                                    <xs:attribute type="xs:short" name="paginas" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="revistas">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="revista">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="titulo"/>
                                        <xs:element type="xs:short" name="anio"/>
                                    </xs:sequence>

                                    <xs:attribute type="xs:string" name="id"/>
                                    <xs:attribute type="xs:string" name="area"/>
                                    <xs:attribute type="xs:string" name="issn"/>
                                    <xs:attribute type="xs:integer" name="numero"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="usuarios">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="usuario" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="nombre"/>
                                        <xs:element type="xs:string" name="email"/>
                                    </xs:sequence>

                                    <xs:attribute type="xs:string" name="id" use="optional"/>
                                    <xs:attribute type="xs:string" name="tipo" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="prestamos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="prestamo" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:date" name="fecha_inicio"/>
                                        <xs:element type="xs:date" name="fecha_fin" minOccurs="0"/>
                                        <xs:element type="xs:string" name="estado"/>
                                    </xs:sequence>

                                    <xs:attribute type="xs:string" name="id" use="optional"/>
                                    <xs:attribute type="xs:string" name="itemRef" use="optional"/>
                                    <xs:attribute type="xs:string" name="usuarioRef" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            
            <xs:attribute type="xs:date" name="fecha"/>
        </xs:complexType>
    </xs:element>
</xs:schema>